.main {
  margin: 0;
  color: white;
  background-image: url("https://imgur.com/cXW4rsZ.jpg");
  height: 2000px;
  width: auto;
  background-position: bottom;
  background-repeat: no-repeat;
  /* display: flex;
  flex-direction: column; */
  /* background-size: cover; */
}
.link {
  text-decoration: none;
  color: white;
}

.button {
  background-color: #f1d6d6;
  border-radius: 12px;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

p {
  background-color: rgba(0,0,0,0.5);
}

#myPet {
  border-radius: 8px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  display: none;
}

/* .link {
  text-decoration: none;
  color: white;
}

.button {
  background-color: #f1d6d6;
  border-radius: 12px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
  */
