.grid-container {
  display: grid;
  gap: 50px 100px;
  height: 100vw;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #183550;
  font-family: 'Cormorant Garamond', serif;
  color: white;
}
.link {
  text-decoration: none;
  color: white;
}

.button {
  background-color: #f1d6d6;
  border-radius: 12px;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.links-body {
  margin: 0;
  background-color: #183550;
  color: white;
  text-align: center;
}



.img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20em;
  width: 20em;
  margin: auto;
}
